<% provide(:title, "") %>
<!-- Slider -->
		<div class="slider" style="background-image: url(<%= asset_path 'banner.jpg' %>);">
			<ul class="rslides" id="slider">
				<li>
					<div class="w3ls-slide-text">
						<h3>Sell or Advertise anything online</h3>
						<%= link_to "Browse all Categories", categories_path, class: "w3layouts-explore-all" %>
					</div>
				</li>
			</ul>
		</div>
		<!-- //Slider -->


		<!-- content-starts-here -->
		<div class="main-content">
			<div class="w3-categories">
				<h3>Browse Categories</h3>
				<div class="container">
					<% categories.each do |category| %>
					<div class="col-md-3">
						<div class="focus-grid w3layouts-boder1">
							<%= link_to category, class: "btn-8" do %>
								<div class="focus-border">
									<div class="focus-layout">
										<div class="focus-image"><i class="fa <%= category.icon %>"></i></div>
										<h4 class="clrchg"><%= category.name %></h4>
									</div>
								</div>
							<% end %>
						</div>
					</div>
					<% end %>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- most-popular-ads -->
			<div class="w3l-popular-ads">  
				<h3>Most Popular Ads</h3>
				 <div class="w3l-popular-ads-info">
				 	<% popular.each do |category| %>
					<div class="col-md-4 w3ls-portfolio-left">
						<div class="portfolio-img event-img">
							<%= image_tag category.image, class: "img-responsive", alt: "" %>
							<div class="over-image"></div>
						</div>
						<div class="portfolio-description">
						   <h4><a href="cars.html"><%= category.name %></a></h4>
						   <p><%= category.description %></p>
							<%= link_to category do %>
								<span>Explore</span>
							<% end %>
						</div>
						<div class="clearfix"> </div>
					</div>
					<% end %>
					<div class="clearfix"> </div>
				 </div>
			 </div>
			
			<!--partners-->
			<div class="w3layouts-partners">
				<h3>Our Partners</h3>
					<div class="container">
						<ul>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-1', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-2', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-3', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-4', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-5', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-6', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-7', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-8', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-9', class: "img-responsive", alt:"" %></a></li>
							<li><a href="www.2madapps.com" target="_blank"><%= image_tag 'p-10', class: "img-responsive", alt:"" %></a></li>	
						</ul>
					</div>
				</div>	
		<!--//partners-->	
		<!-- mobile app -->
			<div class="agile-info-mobile-app">
				<div class="container">
					<div class="col-md-5 w3-app-left">
						<a href="mobileapp.html"><%= image_tag 'app', alt: "" %></a>
					</div>
					<div class="col-md-7 w3-app-right">
						<h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
						<div class="agileits-dwld-app">
							<h6>Download The App : 
								<a href="#"><i class="fa fa-apple"></i></a>
								<a href="#"><i class="fa fa-windows"></i></a>
								<a href="#"><i class="fa fa-android"></i></a>
							</h6>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //mobile app -->
		</div>
