<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :name, id: :category_name, placeholder: "Name" %>
    <%= form.text_area :description, id: :category_description, placeholder: "Description" %>
    <%= form.file_field :image, id: :category_image %>
    <%= form.text_field :icon, id: :category_icon, placeholder: "eg. fa-user" %>
    <%= form.submit %>

<% end %>
